body {
    background-color: #F0EFF2;
}

.attendance-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 80px 0;
}

.day-navigation {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
    margin-bottom: 50px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.calendar-icon {
    width: 25px;
    height: 25px;
    margin-right: 8px;
    vertical-align: middle;
}

.nav-arrow {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-weight: bold;
}

.arrow-icon {
    width: 20px;
    height: 15px;
    opacity: 0.3;
}

.arrow-icon.right {
    transform: rotate(180deg);
}

.day-navigation a {
    text-decoration: none;
    color: #737373;
    font-weight: bold;
    font-size: 16px;
    padding: 20px 0;
}

.month-display {
    font-size: 20px;
    font-weight: bold;
}

.attendance-table {
    border-radius: 10px;
    width: 900px;
    background-color: #FFFFFF;
}

.table__header {
    font-size: 16px;
    color: #737373;
    font-weight: bold;
    letter-spacing: 0.15em;
    border-bottom: 3px solid #E1E1E1;
    padding: 15px 20px;
}

.attendance-table td {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #E1E1E1;
    padding: 15px 20px;
    color: #737373;
    letter-spacing: 0.15em;
}

.table__detail,
.table__detail a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.15em;
}


/* @media (min-width: 1440px) {
    .attendance-list-container {
            height: auto;
            padding: 80px 0 40px 0;
        }
} */