body {
    background-color: #F0EFF2;
}

.staff-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 80px 0;
}

.staff-table {
    margin-top: 70px;
    border-collapse: collapse;
    border-radius: 10px;
    width: 900px;
    background-color: #FFFFFF;
}

.table__header{
    font-size: 16px;
    color: #737373;
    font-weight: bold;
    letter-spacing: 0.15em;
    border-bottom: 3px solid #E1E1E1;
    padding: 15px 20px;
}

.staff-table td {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #E1E1E1;
    padding: 15px 20px;
    color: #737373;
    letter-spacing: 0.15em;
}

.table__detail {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.15em;
}

