html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.attendance-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #F0EFF2;
    padding-top: 200px;
}

.attendance-status {
    width: 100px;
    height: 40px;
    background-color: #C8C8C8;
    color: #696969;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attendance-date {
    font-size: 40px;
    color: #000000;
    margin-bottom: 50px;
}

.attendance-time {
    font-size: 80px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 90px;
}

#button-area {
    display: flex;
    gap: 80px;
}

.attendance-button {
    width: 221px;
    height: 77px;
    font-size: 32px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

.attendance-button[data-action="clock_in"],
.attendance-button[data-action="clock_out"] {
    background-color: #000000;
    color: #FFFFFF;
}

.attendance-button[data-action="break_start"],
.attendance-button[data-action="break_end"] {
    background-color: #FFFFFF;
    color: #000000;
    border: none;
}

.attendance-message {
    font-size: 26px;
    font-weight: bold;
}

