.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    width: 680px;
    height: 55px;
    border-radius: 4px;
    border: 1px solid #000000;
    margin-bottom: 80px;
    font-size: 30px;
}