.input {
    width: 680px;
    height: 55px;
    border-radius: 4px;
    border: 1px solid #000000;
    margin-bottom: 10px;
    font-size: 30px;
}

.btn--big {
    width: 680px;
    height: 60px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.link {
    margin-top: 30px;
    color: #0073CC;
    font-size: 20px;
    margin-bottom: 50px;
}

.form__error {
    color: #ff3e3e;
    align-self: flex-start;
    margin-bottom: 50px;
}