.header{
    width: 100%;
    height: 80px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img {
    width: 370px;
    height: 36px;
    margin-left: 25px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    font-size: 36px;
    font-weight: bold;
    margin-top: 85px;
    margin-bottom: 70px;
    text-align: center;
}

.entry__name {
    align-self: flex-start;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
}
