.header{
    width: 100%;
    height: 80px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img {
    width: 370px;
    height: 36px;
    margin-left: 25px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    font-size: 36px;
    font-weight: bold;
    margin-top: 85px;
    margin-bottom: 70px;
    text-align: center;
}

.entry__name {
    align-self: flex-start;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
}

.page__title-wrapper {
    width: 900px;
    display: flex;
    justify-content: flex-start;
}

.page__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    width: 900px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.page__title::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 40px;
    background-color: #000000;
}

.attendance-detail__notice {
    color: #FF000080;
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
}

input[type="time"] {
    text-align: center;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

body {
    font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
}