.header{
    width: 1512px;
    height: 80px;
    background-color: #000000;
}

.header__logo img {
    width: 370px;
    height: 36px;
    margin-top: 22px;
    margin-left: 25px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    width: 144px;
    height: 44px;
    font-size: 36px;
    font-weight: bold;
    margin-top: 85px;
    margin-bottom: 70px;
    text-align: center;
}

.entry__name {
    align-self: flex-start;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
}

.btn--big {
    width: 680px;
    height: 60px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.link {
    margin-top: 30px;
    color: #0073CC;
    font-size: 20px;
}

