.header__nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    line-height: 80px;
}

.header__logout {
    background: none;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    line-height: 80px;
    margin-right: 30px;
}